@charset "utf-8";
/* CSS Document */

body 
{
	background: #cccccc;
	font-family: Arial, Helvetica, sans-serif; 
	width: 900px;
	margin: 50px 50px;
	color: #17212F;
}

header
{
	padding: 0 0 0 3em;	
}

header h1 
{
	font-size: 2em;
	font-weight: normal;
	text-shadow: 1px 1px 1px #cccccc;
	margin: 0;
	padding: 0.8em 0;
}


nav
{
    border-top: 2px solid #000;
   	border-bottom: 2px solid #000;
}

nav ul li 
{
	display: inline-block;
}

li
{
	padding: 0 0.5em 0em 0.5em;	
}

#contenu
{
	margin: 0 auto 0 auto;
	padding: 0 3em 3em 3em;	
}

article
{
	padding: 2em 0em 2em 0em;
    text-align: justify;
}

div
{
    text-align: justify;
}

info
{
    color: #0094ff;
}

erreur
{
    color: #ff6a00;
}

table
{
    padding: 0.5em;
    border: 1px solid;

}

tr>:first-child
{
    text-align: right;
}